table {
    font-size: 18px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border-style:none;
    /* This is how I center the Table, works with most browsers. */
}

td, th {
    padding-bottom: 1em; /* adds space under cells */ 
    border: none;
}

body {
    background: #ffccd6;
    font-family: Courier, monospace; 
    color: #ff0000;
    font-size: 110%;
}

.opener, #ticket, #dice {
    border-style: groove;
    border-color: red;
    background-color: #fff0f0;
    text-align: center;
}

/* unvisited link */
a:link {
    color: palevioletred;
}

/* visited link */
a:visited {
    color: palevioletred;
}

/* mouse over link */
a:hover {
    color: darkgoldenrod;
}

/* selected link */
a:active {
    color: palevioletred;
}

#left { 
    text-align: left;
}